<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>single post</title>
</head>
<body>
    <!-- // MAIN CONTENT -->
    <section class="main_content single-job-page-content ">

        <div class="container">

            <div class="main_content__wrapper page-global-with-sidebar">
                <!-- //sidebar -->
                <aside class="main_content__aside page-global-aside">

                    <div class="page-global-aside__inner">
                        <!-- widget -->
                        <div class="subscribe_widget subscribe_widget--small">

                            <h3 class="subscribe_widget__title">
                                Get the latest Remote Nursing jobs delivered to your inbox <span>every Monday</span>
                            </h3>

                            <form class="subscribe_widget__form">
                                <input type="email" name="subscribe_widget_subscribe-email"
                                       id="subscribe_widget_subscribe-email" placeholder="Enter your email">

                                <input type="submit" value="Subscribe">
                            </form>

                        </div>


                        <a class="post-jobs__btn" href="#">
                            <span>
                                Post a Job
                            </span>
                        </a>

                    </div>

                </aside>

                <!-- //content-bar -->
                <div class="main_content__content page-global-content">

                    <div class="page-global-content__inner page-global-content__inner--front-page">
                        <!-- //content head -->
                        <div class="single_item">
                            <!--  //title box -->
                            <div class="single_item__title">
                                <!--  //single icon -->
                                <img src="<?php echo get_template_directory_uri() . '/assets/img/now_hiring.svg' ?>"
                                     alt="">
                                <!-- //single content title -->
                                <div class="single_item__content-wrapper">
                                    <!-- //title box -->
                                    <div class="single_item__title-box">

                                        <h1 class="single_item__title-text">
                                            Licensed Practical Nurse - Millbury, MA - Full-Time
                                        </h1>

                                        <span class="single_item__company">
                                            Galileo
                                        </span>

                                    </div>
                                    <!-- //single info -->
                                    <div class="single_item__info-block">

                                        <ul class="single_item__info-list">
                                            <li>
                                                <span class="single_item__info-name">Location</span>
                                                <span class="single_item__info-text">Alabama</span>
                                            </li>
                                            <li>
                                                <span class="single_item__info-name">Job Type</span>
                                                <span class="single_item__info-text">Full Time</span>
                                            </li>
                                            <li>
                                                <span class="single_item__info-name">Salary</span>
                                                <span class="single_item__info-text">Pay starts at $30.25 per
                                                    hour</span>
                                            </li>
                                            <li>
                                                <span class="single_item__info-name">Experience</span>
                                                <span class="single_item__info-text">2-3 yrs</span>
                                            </li>
                                            <li>
                                                <span class="single_item__info-name">Date Posted</span>
                                                <span class="single_item__info-text">September 13, 2022</span>
                                            </li>
                                        </ul>

                                    </div>

                                    <!--    //Apply btn -->
                                    <a href="#" class="single_item__link">
                                        Apply Now
                                    </a>

                                </div>
                            </div>

                        </div>

                        <!-- //content body -->
                        <div class="single_item__content single_content">
                            <?php the_content(); ?>
                        </div>
                        <!-- //NOTE APPLY BTN  -->
                        <div class="single_item__btns">
                            <a href="#" class="single_item__link">Apply online</a>
                            <a href="#" class="single_item__link single_item__link--linkedin">

                                <img src="/assets/img/Linkedin.svg"
                                     alt="Apply on LinkedIn">
                                Apply on LinkedIn
                            </a>
                        </div>

                        <!-- //NOTE MODULE subscribe widget large -->
                        <div class="subscribe_widget subscribe_widget--large">

                            <p class="subscribe_widget__title">
                                Get the latest Remote Nursing jobs delivered to your inbox <span>every Monday</span>
                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

</body>
</html>