.products-cart {
    background-color: $light-gray;
    padding: 40px 0;
    @include response-min(992px) {
        padding: 60px 0;
    }
    &__title {
        color: $orange;
        margin-bottom: 40px;
        line-height: normal;
        @include response-min(992px) {
            margin-bottom: 24px;
        }

        &--no-items {
            font-size: 46px;
            margin-top: 40px;
            text-align: center;
        }
    }

    &__no-products-inner {
        padding: 80px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include response-min(992px) {
            padding: 100px 0;
        }
    }

    &__cart-icon-wrapper {
        position: relative;
        display: flex;
        justify-content: center;

        .cart-icon-empty {
            width: 200px;
            height: 200px;
        }

        .cart-count {
            font-family: $font_kharkiv-tone;
            font-size: 24px;
            color: $orange;
            position: absolute;
            left: 50%;
            top: -10px;
            transform: translateX(-50%);
        }
    }

    &__back-to-shop {
        padding: 16px 40px 16px 24px;
        background-color: $light-green;
        border: 2px solid $light-green;
        color: $dark;
        border-radius: 100px;
        @include transition();
        display: flex;
        align-items: center;

        .return-cart-icon {
            position: relative;
            right: -20px;
            @include transition();
        }

        &:hover {
            border: 2px solid $dark;
            background-color: $dark;
            color: $light-green;

            .return-cart-icon {
                path {
                    fill: $light-green;
                }
            }
        }
    }
}

.products-cart-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    @include response-min(992px) {
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        grid-gap: 20px;
    }
    @include response-min(1200px) {
        grid-gap: 72px;
        grid-template-columns: 1.34fr 1fr;
    }
    &__summary {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        width: 100%;
    }
    &__order {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }
    &__order-item {
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        border-radius: 32px;
        background-color: $white;
        gap: 16px;
        @include response-min(576px) {
            flex-wrap: nowrap;
        }
        @include response-min(992px) {
            padding: 24px;
            gap: 20px;
        }
    }
    &__order-media-wrapper {
        width: 100%;
        @include response-min(992px) {
            width: 30%;
        }
    }
    &__order-info-wrapper {
        width: 100%;
        @include response-min(992px) {
            width: 70%;
        }
    }
    &__order-image {
        a {
            display: block;
            img {
                width: 100%;
                height: auto;
                max-height: 170px;
                border-radius: 20px;
                object-fit: cover;
                @include response-min(475px) {
                    max-height: 220px;
                }
                @include response-min(992px) {
                    width: 187px;
                }
                @include response-min(1200px) {
                    height: 183px;
                }
            }
        }
    }
    &__order-info-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__order-category {
        width: 100%;
    }
    &__order-category-name {
        font-size: 16px;
        color: $light-gray-v2;
        line-height: 20.8px;
        position: relative;
        top: -5px;
    }
    &__order-name {
        width: 100%;
        margin-top: 2px;
        line-height: 16px;
        @include response-min(992px) {
            width: 70%;
            margin-top: 8px;
        }
        a {
            font-size: 16px;
            font-weight: $font_600;
            line-height: normal;
            color: $dark;
            @include response-min(992px) {
                font-size: 20px;
            }
        }
    }
    &__quantity {
        width: 32%;
        display: flex;
        align-items: flex-end;
        position: absolute;
        left: 0;
        bottom: 0;
        @include response-min(992px) {
            width: 30%;
            left: unset;
            bottom: unset;
            right: 0;
            top: 5%;
        }
        @include response-min(1200px) {
            top: 42%;
            width: 25%;
        }
        .quantity {
            display: flex;
            border: none;
            padding: 0;

            input {
                min-width: 42px;
                width: 100%;
                text-align: center;
                font-size: 20px;
                line-height: 26px;
                font-family: $font_kharkiv-tone;
                color: $dark;
            }
            .minus,
            .plus {
                width: 28px;
                height: 28px;
                background-color: transparent;
                border: 1px solid $dark;
                border-radius: 8px;
                padding: 0 13px;
                position: relative;
                font-size: 0;
                @include transition();
                &:hover {
                    background-color: $orange;
                }
            }
            .minus {
                &:after {
                    content: url("../img/count_minus.svg");
                    position: absolute;
                    left: 4px;
                    top: 4px;
                }
            }
            .plus {
                &:after {
                    content: url("../img/count_plus.svg");
                    position: absolute;
                    left: 0;
                    top: 4px;
                }
            }
        }
    }
    &__price-info-wrapper {
        display: flex;
        flex-direction: column-reverse;
        @include response-min(992px) {
            justify-content: space-between;
            align-items: end;
        }
        @include response-min(1200px) {
            flex-direction: row;
        }
    }
    &__order-remove {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        width: 100%;
        margin-top: 29px;
        @include response-min(992px) {
            width: 100%;
        }
        @include response-min(1200px) {
            margin-top: 0;
            width: 30%;
            justify-content: flex-start;
        }
        a {
            font-size: 16px;
            line-height: 23.4px;
            color: $dark_gray_v2;
            @include response-min(992px) {
                font-size: 18px;
            }
        }
    }
    &__price {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 100%;
        margin-top: 16px;
        @include response-min(992px) {
            width: 100%;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 29px;
        }
        @include response-min(1200px) {
            margin-top: 0;
            width: 70%;
        }
    }
    &__regular-price {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: $font_700;
        color: $dark_gray_v2;
        text-decoration: line-through;
        margin-left: 19px;
        position: relative;
        @include response-min(992px) {
            font-size: 24px;
            margin-left: 0;
            margin-right: 24px;
        }
    }
    &__order-price {
        font-size: 24px;
        font-weight: $font_700;
        color: $dark;
        @include response-min(992px) {
            font-size: 32px;
        }
    }
    &__coupon-wrapper {
        .coupon {
            &__title {
                font-size: 16px;
                line-height: 22.4px;
                color: $dark;
                @include response-min(992px) {
                    font-size: 18px;
                    line-height: normal;
                }
            }
            &__btn-wrapper {
                position: relative;
                margin-top: 15px;
            }
            &__input {
                font-family: $font_inter;
                width: 100%;
                padding: 20px 100px 21px 15px;
                border: 1px solid $dark_gray_v2;
                border-radius: 100px;
                font-size: 16px;
                color: $light-gray-v2;
                @include response-min(576px) {
                    padding: 20px 160px 21px 15px;
                }
                @include response-min(992px) {
                    padding: 20px 32px 18px 32px;
                }
            }
            &__button {
                font-size: 16px;
                color: $dark;
                font-weight: $font_600;
                text-transform: uppercase;
                padding: 12px 12px;
                background-color: $light-green;
                border: 1px solid $light-green;
                border-radius: 32px;
                position: absolute;
                right: 9px;
                top: 9px;
                @include transition();
                &:hover {
                    background-color: $dark;
                    color: $light-green;
                    border: 1px solid $dark;
                }
                @include response-min(576px) {
                    min-width: 140px;
                    padding: 11px 24px;
                }
                @include response-min(992px) {
                    min-width: 100px;
                }
                @include response-min(1200px) {
                    min-width: 140px;
                }
            }
        }
    }
}

.woocommerce-notices-wrapper {
    position: absolute;
    top: 112px;
    right: 20px;
    width: auto;
    max-width: 890px;

    .woocommerce-message,
    .woocommerce-error {
        background-color: $white;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        border: none;
        border-radius: 16px;
        margin: 0 !important;
        padding: 20px 15px 25px 40px;
        font-size: 16px;
        color: $dark;
        font-weight: $font-500;
        text-transform: uppercase;

        @include response-min(633px) {
            flex-wrap: nowrap;
            padding: 20px 15px 25px 50px;
        }

        @include response-min(992px) {
            padding: 22px 35px 25px 76px;
        }

        &:after {
            content: url("../img/notification_arrow.svg");
            position: absolute;
            right: 17px;
            top: -29px;
        }
        .button.wc-forward {
            display: block;
            border: 2px solid $blue;
            padding: 20px 22px;
            border-radius: 100px;
            background-color: $blue;
            font-size: 16px;
            color: $dark;
            text-transform: uppercase;
            font-family: $font_inter;
            font-weight: $font_600;
            min-width: 223px;
            position: relative;
            margin-bottom: 15px;
            @include transition();
            width: 100%;

            @include response-min(633px) {
                width: auto;
                margin-bottom: 0;
            }

            @include response-min(992px) {
                margin-bottom: 0;
                margin-left: 35px;
                width: auto;
            }

            &:after {
                content: url("../img/view_cart_icon.svg");
                position: absolute;
                right: 23px;
                top: 11px;
            }

            &:hover {
                color: $dark !important;
                background-color: transparent !important;
            }
        }
    }

    .woocommerce-message {
        &:before {
            content: url("../img/success.svg");
            top: unset;
            left: 3px;
            bottom: 30px;

            @include response-min(633px) {
                bottom: unset;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }

            @include response-min(992px) {
                left: 36px;
            }
        }
    }

    .woocommerce-error {
        &:before {
            top: 50% !important;
            transform: translateY(-50%);
        }
    }
}

.products-cart-form {
    &__summary-content,
    &__coupon-wrapper {
        padding: 28px 16px;
        border-radius: 32px;
        background-color: $white;
        @include response-min(992px) {
            padding: 32px 24px;
        }
    }
    &__actions {
        position: absolute;
        right: 20px;
        top: 0;
        visibility: hidden;
    }
    &__summary-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-bottom: 24px;
        @include response-min(992px) {
            padding-bottom: 40px;
        }
        &:after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $dark;
            position: absolute;
            left: 0;
            bottom: 0;
            @include response-min(992px) {
                height: 2px;
            }
        }
    }
    &__summary-title {
        color: $orange;
        line-height: normal;
    }
    &__summary-count-wrapper {
        position: relative;
        right: 0;
        bottom: 2px;
        @include response-min(992px) {
            right: 2px;
            bottom: 1px;
        }
    }
    &__summary-count,
    &__summary-count-text {
        font-size: 16px;
        font-weight: $font_600;
        @include response-min(992px) {
            font-size: 20px;
        }
    }
}

.woocommerce-page {
    .cart-collaterals {
        .cart_totals {
            width: 100%;
            float: none;
        }
    }
}

.cart-subtotal {
    &__savings-wrapper {
        padding: 24px 0 22px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-bottom: 1px solid $light-gray;
        @include response-min(992px) {
            padding: 40px 0;
            gap: 41px;
        }
    }
    &__total-price-wrapper {
        padding: 25px 0;
        @include response-min(992px) {
            padding: 40px 0;
        }
    }
    &__subtotal-price-wrapper,
    &__saving-price-wrapper,
    &__promocode-wrapper,
    &__total-price-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title,
    &__saving-title,
    &__promocode-title,
    &__total-price-title {
        font-size: 16px;
        line-height: 20.8px;
        color: $dark;
        @include response-min(992px) {
            font-size: 18px;
            line-height: normal;
        }
    }
    &__subtotal-price {
        font-size: 18px;
        color: $dark_gray_v2;
        font-weight: $font_600;
        @include response-min(992px) {
            font-size: 20px;
        }
    }
    &__saving-price-descr,
    &__saving-price-price,
    &__promocode-price-title,
    &__promocode-price {
        font-size: 18px;
        font-weight: $font_600;
        color: $dark;
        line-height: normal;
        @include response-min(992px) {
            font-size: 20px;
        }
    }
    &__saving-price {
        display: flex;
    }
    &__saving-price-descr,
    &__promocode-price-title {
        text-transform: uppercase;
    }
    &__saving-price-descr {
        margin-right: 16px;
        @include response-min(992px) {
            margin-right: 11px;
        }
    }
    &__total-price-title {
        font-size: 16px;
        font-weight: $font_600;
        text-transform: uppercase;
        @include response-min(992px) {
            font-size: 20px;
        }
    }
    &__total-price {
        font-size: 24px;
        font-weight: $font_700;
        color: $dark;
        @include response-min(992px) {
            font-size: 32px;
        }
    }
    .woocommerce-remove-coupon {
        display: none;
    }
}

.woocommerce-cart {
    .wc-proceed-to-checkout {
        padding: 0 !important;
        a.checkout-button {
            font-size: 16px !important;
            font-weight: $font_600;
            color: $dark;
            text-align: left;
            padding: 17px 22px 16px 21px !important;
            margin-bottom: 24px;
            @include response-min(992px) {
                padding: 20px 106px 18px 21px !important;
            }
            &:hover {
                color: $blue !important;
            }
        }
    }
}

.cart_totals {
    &__back-to-shop-link {
        width: 100%;
        padding: 18px 22px 16px 22px !important;
        @include response-min(992px) {
            padding: 18px 22px 18px 22px !important;
        }
    }
}
