.products-cart {
  background-color: $light-gray;
  padding: 40px 0;
  @include response-min(992px) {
    padding: 60px 0;
  }

  &__title {
    color: $orange;
    margin-bottom: 40px;
    line-height: normal;
    @include response-min(992px) {
      margin-bottom: 24px;
    }

    &--no-items {
      font-size: 46px;
      margin-top: 40px;
      text-align: center;
    }
  }

  &__no-products-inner {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include response-min(992px) {
      padding: 100px 0;
    }
  }

  &__cart-icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    .cart-icon-empty {
      width: 200px;
      height: 200px;
    }

    .cart-count {
      font-family: $font_kharkiv-tone;
      font-size: 24px;
      color: $orange;
      position: absolute;
      left: 50%;
      top: -10px;
      transform: translateX(-50%);
    }
  }

  &__back-to-shop {
    padding: 16px 40px 16px 24px;
    background-color: $light-green;
    border: 2px solid $light-green;
    color: $dark;
    border-radius: 100px;
    @include transition();
    display: flex;
    align-items: center;

    .return-cart-icon {
      position: relative;
      right: -20px;
      @include transition();
    }

    &:hover {
      border: 2px solid $dark;
      background-color: $dark;
      color: $light-green;

      .return-cart-icon {
        path {
          fill: $light-green;
        }
      }
    }
  }
}

.products-cart-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  @include response-min(992px) {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-gap: 20px;
  }
  @include response-min(1200px) {
    grid-gap: 72px;
    grid-template-columns: 1.34fr 1fr;
  }
}

